@model BusinessObject.models.Dto.CategoryDTO.CategoryUpdateDTO




<form asp-action="Edit">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update Villa</h1>
        <hr />

        <input hidden asp-for="CategoryId" />
        <div class="row">
            <div class="col-10">

                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                   

                    <div class="col-2">
                        <label asp-for="CategoryName" class="control-label pt-2" style="font-size:20px;"></label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>


                    <div class="col-5 offset-2">
                        <a asp-action="Index" asp-controller="Categories" class="btn-primary btn form-control ">Back to List</a>
                    </div>
                    <div class="col-5">
                        <input type="submit" value="Update" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>


    </div>


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
